.app__about{
    flex: 1;
    width: 100%;
    // background-color: yellow;

    @media screen and (max-width : 1200px) {
        flex-direction: column;
    }

}

.app__about-left{
    // background-color: red;
    height: 100%;
    width: 30%;

    @media screen and (max-width : 1200px) {
        width: 100%;
    }
}
.app__about-right{
    // background-color: blue;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    // justify-content: space-evenly;
    // background-color: red;

    p{
        text-align: center;
        width: 75%;
        font-size: 1rem;
        font-weight: 500;

        span{
            color: var(--secondary-color);
        }
        
    }

    .app__about-right-btn{
        width: 100%;
        // background-color: red;
        text-align: end;
        padding: 1rem;

        a{
            text-decoration: none;
            color: var(--white-color);
            background-color: var(--secondary-color);
            padding: 1rem 2rem;
            border-radius: 10px;
            text-transform: capitalize;
            font-weight: 600;
            
            &:hover{
                transition: all ease 0.2s;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.291);
            }

        }

        @media screen and (max-width : 1200px) {
            text-align: center;
        }

    }

    @media screen and (max-width : 1200px) {
        width: 100%;
        // background-color: aqua;
    }
}
