.profile-avatar {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 42rem;
  width: auto;
  z-index: 10;
  pointer-events: none; // keep floating effect clean

  @media screen and (max-width : 1200px) {
    display: none;
  }
}
